<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
      <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<title>Home Page</title>
	</head>

	<body>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <form action="http://lakshmick.pythonanywhere.com/" method = 'post'>
            <div class='container'>
                <div class="page-header">
                    <h1>Hello World!!!</h1>
                </div>
                <img src='https://english.mathrubhumi.com/polopoly_fs/1.3685761.1553826542!/image/image.jpg_gen/derivatives/landscape_894_577/image.jpg' width="500" height="300">
                <p><h4>This site receives temperature reading from a sensor every 5 minutes.</h4></p>
                <p><h4>You can view the record by clicking
                <a href="http://lakshmick.pythonanywhere.com/data">here.</a></h4></p>
		    </form>
	</body>
</html>

